<div class="cotainer-fluid" style="text-align: center;">
    <div class="row">
        <div class="col">
            <h2 style="color: black;background-color: white;">Country-App Project</h2>
            <p>This app is all about world countries. you will find most of information about any country you want. <br>
            You can choose countries according to region. You can filter counteries according to currency and language.
            </p>
            <p>Available Regions:</p>
                <h3>Asia
                    <h4>Countries like India, Afganistan, China, etc.</h4>
                </h3>
                <br>
                <h3>Africa
                    <h4>Countries like Algeria, Comoros, Ghana, etc.</h4>
                </h3>
                <br>
                <h3>Americas
                    <h4>Countries like Anguilla, Canada, Guadeloupe, etc.</h4>
                </h3>
                <br>
                <h3>Oceania
                    <h4>Countries like American Samoa, Christmas Island, Wallis and Futuna, etc.</h4>
                </h3>
                <br>
                <h3>Europe
                    <h4>Countries like Åland Islands, Belarus, Belgium, etc.</h4>
                </h3>
        </div>      
    </div>
</div>